@charset "UTF-8";
body{
    background-color: aquamarine;
}
.Heder{
    text-align: center;
}
.time{
    text-align: right;
    font-size: 15px;
}
.Copy{
    text-align: right;
    margin-top: 350px;
}