@charset "UTF-8";
body{
    background-color: black;
}
.Heder{
    color: red;
    text-align: center;
}
.time{
    text-align: right;
    font-size: 15px;
}
.Copy{
    text-align: right;
    margin-top: 350px;
}
.text1{
    text-align: center;
    color: red;
    margin-top: 200px;
}
.text2{
    text-align: center;
    color: red;
}
.Copy{
color: red;
font-size: 10px;
}